APP_NAME=testFastApi
DEBUG=true

DATABASE_URL=postgresql+psycopg://cyj@localhost:5432/test
TEST_DATABASE_URL=postgresql+psycopg://cyj@localhost:5432/test_fastapi_test

SECRET_KEY=eEfWSKOU99t2ZdfPJ2YILQR1D3BsCl-f50HOei1ZxzQ
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

CORS_ORIGINS=["http://localhost:3000", "http://localhost:5173"]